<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Custom styles for this template -->
  <link href="../../assets/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>
  <div class="col d-flex" id="wrapper">
    <!-- Sidebar -->
    <app-nav></app-nav>
    <!-- Page Content -->
    <!-- <div>
      <h3>Check text</h3>
      <div>
        <pre>{{auth.authState | json}}</pre>
      </div>
    </div> -->
    <router-outlet></router-outlet>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->\
</body>

</html>
