<main #skeleton>
  <div class="container-sm">
    <div class="hero-inner">
      <!--Section: Content-->
      <section class="hero team-section text-center dark-grey-text">
        <!-- Body -->
        <div class="row">
          <div class="col-12">
            <section class="pull-left">
              <h4>
                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                {{course_name}}
                <hr>
              </h4>
            </section>
          </div>
          <!-- <div class="col-12 card-columns mb-5"> -->
            <div class="card col-4 c-title mb-5" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine"
              *ngFor="let c of course | async">
              <div class="card-body">
                <h4 class="card-title">{{c?.lv_name}}</h4>
                <p class="card-text"> ฿ {{c?.lv_price}} </p>
                <p class="small_sub">{{c?.lv_detail}}</p>
              </div>
              <div class="pull-right mr-3 mb-1">
                <a class="btn btn-outline-secondary" [routerLink]="['/course' , c.lv_id]"
                  routerLinkActive="router-link-active" role="button">อ่านเพิ่มเติม</a>
              </div>
            </div>
          <!-- </div> -->
        </div>

        <!-- <div class="row">
          <div class="col-12">
            <section class="pull-left">
              <h4>
                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                ระดับ 2
                <hr>
              </h4>
            </section>
          </div>

          <div class="col-12 card-columns mb-5">
            <div class="card c-title" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>

            <div class="card c-title-II" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>

            <div class="card c-title-III" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>
          </div>
        </div> -->
        <!-- Close Body -->


        <!-- <div class="row">
          <div class="col-12">
            <section class="pull-left">
              <h4>
                <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                ระดับทำงาน
                <hr>
              </h4>
            </section>
          </div>

          <div class="col-12  card-columns mb-5">
            <div class="card c-title" data-aos="fade-out">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>

            <div class="card c-title-II" data-aos="fade-out">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>

            <div class="card c-title-III" data-aos="fade-out">
              <div class="card-body">
                <h4 class="card-title ">ชั้นอนุบาล</h4>
                <p class="card-text"> ฿ 590 </p>
                <small>
                  ต่อ 1 ชั่วโมง ขั้นต่ำครั้งละ 2 ชม
                </small>
              </div>
              <p class="small_sub">
                การใช้สมองเป็นฐานการเรียนรู้
                เพิ่มทักษะด้านเชาว์ปัญญา
                พาน้องร้องเพลง เล่านิทานให้ฟัง
                เขียน ก-ฮ หัดเขียนสระ
                วรรณยุกต์ A-Z ท่องศัพท์คำง่ายๆ
                ดูแลการบ้านทั่วไป
              </p>
            </div>
          </div>
        </div> -->
      </section>
      <!--Section: Content-->
    </div>
  </div>
</main>
