<div class="container col box">
  <main>
    <section class="hero text-center cs">
      <div class="container-sm">
        <!-- <div class="hero-inner"> -->
        <div class="container mt-6">
          <div class="row mt-6">
            <div class="col mt-6">
              <br>
              <h3>ล็อกอิน</h3>
              <hr>
            </div>
          </div>
          <br>
          <div class="row inputtxt">
            <div class="col-4 text-right">ชื่อผู้ใช้งาน : </div>
            <div class="col">
              <input type="text" class="form-control" autocomplete="off" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div>
          <div class="row inputtxt">
            <div class="col-4 text-right">รหัสผ่าน : </div>
            <div class="col">
              <input type="password" class="form-control" autocomplete="off" name="" id="" aria-describedby="helpId" placeholder="">
            </div>
          </div>
          <div class="row inputtxt">
            <div class="col-4 text-right"></div>
            <div class="col text-left">
              <small>
                <input type="checkbox" name="" id=""> จดจำผู้ใช้งาน
              </small>
            </div>
          </div>
          <div class="row inputtxt">
            <div class="col text-center">
              <button type="button" name="" id="" class="btn btn-primary inputbtn" btn-lg btn-block> เข้าสู่ระบบ
            <i class="fa fa-sign-in" aria-hidden="true"></i>  
            </button>
            </div>
          </div>
          <hr>
          <!-- Social Mediea -->
          <div class="row inputtxt">
            <div class="col text-center">
              <button type="button" name="" id="" class="btn btn-social-icon btn-twitter btnTwitter" btn-lg btn-block>
                Twitter
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col text-center">
                <button type="button" name="" id="" class="btn btn-social-icon btn-twitter btnFacebook" btn-lg btn-block>
                  Facebook
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </button>
              </div>
              <div class="col text-center">
                <button type="button" name="" id="" class="btn btn-social-icon btn-twitter btnGoogle" btn-lg btn-block>
                  Google
                  <i class="fa fa-google" aria-hidden="true"></i>
                </button>
              </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<br>
<br>
<br><br>
<br>
<br>
