<link
  href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700,800,900,900i&display=swap&subset=latin-ext,thai"
  rel="stylesheet">
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="container-sm col-4">
  <main>
    <section class="hero text-center">
      <div class="container-sm">
        <div class="hero-inner">
          <!-- <div class="container mt-6"> -->
          <form class="frmCus" [formGroup]="userForm" (ngSubmit)="signin()">
            <div class="row">
              <div class="col">
                <h3 class="hero-title h2-mobile mt-0 is-revealing">เข้าสู่ระบบ</h3>
                <hr>
              </div>
            </div>
            <br>
            <div class="row inputtxt">
              <div class="col-12 form__group field">
                <input type="email" class="form-control form__field" formControlName="emailSignup" autocomplete="nope"
                  name="username" id="username" placeholder="ชื่อผู้ใช้งาน">
                <label class="form__label" for="username">ชื่อผู้ใช้งาน</label>
              </div>
            </div>
            <div class="row inputtxt">
              <div class="col-12 form__group field">
                <input type="password" class="form-control form__field" formControlName="passwordSignup"
                  autocomplete="new-password" name="password" id="password" placeholder="รหัสผ่าน">
                <label class="form__label" for="paswword">รหัสผ่าน</label>
              </div>
            </div>
            <div class="row inputtxt">
              <div class="col text-center">
                <small>
                  <input type="checkbox" name="chk_remember" id="chk_remember">
                  <label for="chk_remember">จดจำผู้ใช้งาน</label>
                </small>
              </div>
            </div>
            <div class="row inputtxt">
              <div class="col text-center">
                <button type="submit" class="btn btn-dark inputbtn" btn-lg btn-block> เข้าสู่ระบบ
                  <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <hr>
          </form>
          <!-- Social Mediea -->
          <div class="row inputtxt">
            <div class="col-12 text-center">
              <button type="button"  (click)="signInFaceBook()" class="btn btn-social-icon btn-twitter btnFacebook" btn-lg btn-block>
                Facebook
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col text-center">
              <button type="button" (click)="signInGoogle()" class="btn btn-social-icon btn-twitter btnGoogle" btn-lg btn-block>
                Google
                <i class="fa fa-google" aria-hidden="true"></i>
              </button>
              
              <!-- <h1 *ngIf="auth.authState">Hello
                {{ (auth.authState)?.email }}</h1>
              <button (click)="signOut()" *ngIf="auth.authState">Logout</button> -->
            </div>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </section>
  </main>
</div>
<br>
<br>
<br>
<script src="./assets/js/main.min.js"></script>
