<main #skeleton>
  <div class="container-sm">
    <div class="hero-inner">
      <!--Section: Content-->
      <section class="hero team-section text-center dark-grey-text">

        <div class="col col-body">
          <!-- vdo topic -->
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/j6PPb6nvhDI"
                  allowfullscreen></iframe>
              </div>
              <div class="col contentB mt-3">
                <!-- Course Topic -->
                <div class="row">
                  <div class="col">
                    <section class="pull-left">
                      <h4>
                        {{itemValue?.lv_name}}
                      </h4>
                      <hr>
                    </section>
                  </div>
                </div>
                <!-- Course Detail -->
                <div class="row">
                  <div class="col">
                    <section>
                      <h4 class="pull-left">
                        รานละเอียดคอร์ส
                      </h4>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <section class="text-left">
                      <p>
                        {{itemValue?.lv_detail}}
                      </p>
                    </section>
                  </div>
                </div>

                <!-- Course Unit -->
                <div class="row">
                  <div class="col">
                    <section>
                      <h4 class="pull-left">
                        บทเรียนในคอร์สนี้
                      </h4>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-left">
                    <ul *ngFor="let item of unitDetail;let i=index">
                      <li>บทที่ {{item.u_id}} {{item.u_name}}</li>
                    </ul>
                </div>
              </div>

              <!-- How to buy Course  -->
              <div class="row">
                <div class="col">
                  <section>
                    <h4 class="pull-left">
                      วิธีการสั่งซื้อ
                    </h4>
                  </section>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <section class="pull-left">
                    <label>
                      ติดต่อเพจ <a href="#" class="badge badge-primary"> Facebook </a>
                    </label>
                  </section>
                </div>
              </div>


            </div>
          </div>

          <!-- Right Content -->
          <div class="col">
            <div class="card text-center mt-0">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <h4 class="card-title">฿ {{itemValue?.lv_price}}</h4>
                <a class="btn btn-block btn-outline-info" href="#" role="button">
                  รับคูปองส่วนลด
                </a>
              </div>
            </div>

            <div class="card text-left mt-3">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <h4 class="card-title">คอร์สนี้เหมาะกับ</h4>
                <ul class="text-left">
                  <li>ผู้เริ่มต้น</li>
                  <li>120 Videos</li>
                  <li>20 Unit</li>
                  <li>14 Document</li>
                </ul>
              </div>
            </div>

            <!-- Course Recomment -->
            <div class="card text-left mt-3">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <h4 class="card-title">อาจารย์ผู้สอน</h4>
                <ul class="text-left">
                  <li>เหล่าซือเป่าเปา(คุณวรกมล ยังตรง)</li>
                  <li>เรียนจบปริญญาตรี คณะอักษรศาสตร์ เอกภาษาจีน มหาวิทยาลัยครูกว่างซีกุ้ยหลิน ประเทศจีน</li>
                  <li>อาชีพ ปัจจุบันเป็นล่ามที่ประเทศไต้หวัน และ เป็นครูสอนพิเศษภาษาจีน</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    </section>
    <!--Section: Content-->
  </div>
  </div>
</main>
