<div class="col b" id="wrapper">

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4">
        <label for="toppic_content">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          ข้อมูลผู้ใช้งาน</label>
        <hr>
      </h1>

      <!-- <table class="table table-inverse table-inverse table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>ลำดับ</th>
            <th>ชื่อ - นามสกุล</th>
            <th>อีเมล์</th>
            <th>วันที่สมัคร</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> -->


      <div>
        <h3>Show data</h3>
        <label for="text">
          {{serviceAccount}}
        </label>
      </div>



    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
