.bgwelcome {
  height: 10%;
  /* background-color: #6FDE96; */
  /* background-color: rgba(157, 255, 198, 0.42); */
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  margin-top: 3%;
}
.hrStyle{
    border: 1px solid rgb(187, 187, 187);
}
.iframe-container {
  overflow: hidden;
  padding-top: 35%;
  position: relative;
}
 
.iframe-container iframe {
   padding-bottom: 2%;
   border: 0px;
   height: 100%;
   left: 25%;
   position: absolute;
   top: 2%;
   bottom: 3%;
   width:55%;
}
main{
  position: relative;
  margin-top: 10%;
}
