<body>
  <!-- Main layout -->
  <main class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </main>
  <div class="col">
    <hr class="hrStyle">
  </div>
  <!-- close Main layout -->

  <div class="col">
    <div class="col bgwelcome">
      <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/j6PPb6nvhDI" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col">
      <hr class="hrStyle">
    </div>
  </div>

</body>
