h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
label {
  font-family: 'Kanit';
}

.btnEdit {
  margin-top: 3%;
  margin-left: 40%;
}

.custom-file-c {
  border: 1px solid grey;
}

.b {
  margin-bottom: 3%;
}

.avatar-pic {
  width: 150px;
}
.showImg{
  box-shadow: 2px 5px 20px 2px grey;
}