<link href="../../assets/css/simple-sidebar.css" rel="stylesheet">
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <h3>
      <span>
        <i class="fa fa-sun-o" aria-hidden="true"></i>
        จัดการองค์ประกอบ
      </span>
    </h3>
  </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="'content'" class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-list-ul" aria-hidden="true"></i>
        เนื้อหา
      </span>
    </a>
    <a [routerLink]="'vdo'" class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        วิดีโอ
      </span>
    </a>
    <a [routerLink]="['course']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        คอร์สเรียน
      </span>
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-braille" aria-hidden="true"></i>
        รายละเอียดส่วนบริการ
      </span>
    </a>
    <a [routerLink]="['member']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-user" aria-hidden="true"></i>
        ดูข้อมูลลูกค้า
      </span>
    </a>
    <a href="#" (click)="signOut()" *ngIf="auth.authState" class="list-group-item list-group-item-action bg-light">
      <span>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        {{ (auth.authState)?.displayName }}
        <img src="{{(auth.authState)?.photoURL}}" alt="avatal" srcset="{{(auth.authState)?.photoUrl}}">
      </span>
    </a>
  </div>
</div>
