<main>
  <div class="container-sm">
    <div class="hero-inner">
      <!--Section: Content-->
      <section class="hero team-section text-center dark-grey-text">
        <!-- Grid row -->
        <div class="row text-center">
          <div class="col-md-12 mb-12" data-aos="fade-in" data-aos-easing="ease-out-cubic">
            <!-- Section heading -->
            <h3 class="font-weight-bold pb-2 mb-4">Our amazing team</h3>
            <!-- Section description -->
            <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
              eum porro a pariatur veniam.</p>
          </div>
          <!-- Grid column -->
          <div class="col-md-4 mb-5">
            <div class="avatar" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <img src="../../assets/images/c1.jpg" width="250" class="rounded z-depth-1-half"
                alt="Sample avatar">
            </div>
            <h4 class=" my-4" data-aos="fade-in" data-aos-easing="ease-out-cubic">โค้ชฟีม ภพพล ประทุมษา</h4>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">เป็นเจ้าของเพจ "รักยิ้ม" ปัจจุบันมีผู้ติดตาม 1.5 ล้านคน</h6>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">ประสบการณ์การทำเพจ ทำมาแล้ว 5 ปี</h6>
             <!-- Facebook-->
             <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <!--Dribbble -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
            <!-- Twitter -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-4">
            <div class="avatar" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <img src="../../assets/images/c2.jpg" width="250" class="rounded z-depth-1-half"
                alt="Sample avatar">
            </div>
            <h4 class=" my-4" data-aos="fade-in" data-aos-easing="ease-out-cubic">โค้ชเก่ง จุมพล ตุ้ยตั๋น</h4>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">เป็นเจ้าของเพจ "KB59 Inspiration" ปัจจุบันมีผู้ติดตาม 1 แสนคน</h6>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">ประสบการณ์การทำเพจ 2 ปี</h6>
            <!-- Facebook-->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <!--Dribbble -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
            <!-- Twitter -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-4">
            <div class="avatar" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <img src="../../assets/images/c3.jpg" width="250" class="rounded z-depth-1-half"
                alt="Sample avatar">
            </div>
            <h4 class=" my-4" data-aos="fade-in" data-aos-easing="ease-out-cubic">โค้ชโบว์วี่ ลภัสนันท์ ยังตรง</h4>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">เป็นเจ้าของเพจ "KB59 Inspiration" ปัจจุบันมีผู้ติดตาม 1 แสนคน</h6>
            <h6 class="text-uppercase grey-text mb-3" data-aos="fade-in" data-aos-easing="ease-out-cubic">ประสบการณ์การทำเพจ 2 ปี</h6>
             <!-- Facebook-->
             <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <!--Dribbble -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
            <!-- Twitter -->
            <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw" data-aos="fade-in" data-aos-easing="ease-out-cubic">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </section>
      <!--Section: Content-->
    </div>
  </div>
</main>
