.iframe-container {
  overflow: hidden;
  padding-top: 35%;
  position: relative;
}

.iframe-container iframe {
  padding-bottom: 2%;
  border: 0px;
  height: 100%;
  left: 25%;
  position: absolute;
  top: 2%;
  bottom: 3%;
  width: 55%;
}
