<!-- <div class="container bordernav">
  <div class="col">
    <div class="row ali">
      <div class="button_cont" align="center"><a class="example_e" href="add-website-here" target="_blank"
        rel="nofollow noopener">หน้าหลัก</a></div>
    <div class="button_cont" align="center"><a class="example_e" href="add-website-here" target="_blank"
        rel="nofollow noopener">คอร์สเรียน</a></div>
    <div class="button_cont" align="center"><a class="example_e" href="add-website-here" target="_blank"
        rel="nofollow noopener">LOGO</a></div>
    <div class="button_cont" align="center"><a class="example_e" href="add-website-here" target="_blank"
        rel="nofollow noopener">เกี่ยวกับเรา</a></div>
    <div class="button_cont" align="center"><a class="example_e" href="add-website-here" target="_blank"
        rel="nofollow noopener">ติดต่อเรา</a></div>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <a class="navbar-brand" href="#">
    <img src="#" width="30" height="30" class="d-inline-block align-top"
      alt="">
    KB APP
  </a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active button_cont">
        <a class="nav-link example_e" href="#">หน้าหลัก <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle example_e" href="#" id="dropdownId" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">คอร์สเรียน</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link example_e" href="#">เกี่ยวกับเรา</a>
      </li>
      <li class="nav-item">
        <a class="nav-link example_e" href="#">ติดต่อเรา</a>
      </li>
    </ul>
  </div>
</nav>
