<link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Roboto:500" rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700,800,900,900i&display=swap&subset=latin-ext,thai"
  rel="stylesheet">
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<header class="site-header">
  <div class="container col-12 mb-5">
  <nav class="navbar fixed-top col-12 ml-1">
    <!-- <nav class="nav fixed-top navbar-light bg-light"> -->
      <div class="site-header-inner">
        <div class="brand header-brand">
          <h1 class="col-12 mt-0">
            <a href="#">
              <!-- Logo -->
              <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient x1="100%" y1="0%" x2="0%" y2="100%" id="logo-gradient-b">
                    <stop stop-color="#39D8C8" offset="0%" />
                    <stop stop-color="#BCE4F4" offset="47.211%" />
                    <stop stop-color="#838DEA" offset="100%" />
                  </linearGradient>
                  <path d="M32 16H16v16H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v14z" id="logo-gradient-a" />
                  <linearGradient x1="23.065%" y1="25.446%" y2="100%" id="logo-gradient-c">
                    <stop stop-color="#1274ED" stop-opacity="0" offset="0%" />
                    <stop stop-color="#1274ED" offset="100%" />
                  </linearGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <mask id="logo-gradient-d" fill="#fff">
                    <use xlink:href="#logo-gradient-a" />
                  </mask>
                  <use fill="url(#logo-gradient-b)" xlink:href="#logo-gradient-a" />
                  <path fill="url(#logo-gradient-c)" mask="url(#logo-gradient-d)" d="M-16-16h32v32h-32z" />
                </g>
              </svg>
            </a>
          </h1>
        </div>
      </div>
  </nav>
  </div>
</header>
<!-- <script src="assets/js/main.min.js"></script> -->
