.bordernav{
    width: auto;
    height: 190%;
}
.bordernav .ali{
    margin-top: 0rem;
    align-items: center;
}

.navbar {
    background-color:#20c997;
    margin-bottom: 10%;
}

.top-nav-collapse {
    background-color: #134d3b;
}
.nav-item{
    margin: 2% 2%;
}

.nav-item>button{
    width: 100px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00ffb3;
    }
}

